#container{
display:flex ;
flex-direction: row;
}


#button-papel{

 width: 20%;
 height:20%;
}


#button-tijera{
    width: 20%;
    height:20%;  
}

#button-piedra{ 
    width: 20%;
    height:20%;  
}

#button-piedra:hover{
    cursor:pointer
}

#papel:hover{
    cursor:pointer 
}

#tijera:hover{
    cursor:pointer 
}
